/* COMMON */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    /* il body non si tocca!!! */
}
.app-container{
    width:100%;
    height:100vh;
    background: linear-gradient(to bottom, #009588 20%, #d9dbd5 0%);
}
main{
    padding-top: 20px;
}
.main_container{
    width:80%;
    max-width: 900px;
    margin:auto;
    display: flex;
    /* TEST */
    min-height: 900px;
}
/* COLUMNS */
.top{
    height: 80px;
    background-color: #eaeaea;
    padding: 5px 5px;
    vertical-align: middle;
}
.top img{
    height: 70px;
    border-radius: 50%;
    display: inline-block;
}
.top span{

}
.user-text{
    vertical-align: middle;
    display: inline-block;
    font-weight: bold;
}
/* COLUMN LEFT*/
.col-left{
    width:40%;
    border-right: 2px solid #e5e5e5;
        /* test */
        background-color: white;
}
.notifications{
    height:100px;
    background-color: #8edafb;
    display: flex;
}

.bell{
    padding: 10px 10px;
}
.bell i{
    background-color: white;
    color:#8edafb;
    height:80px;
    width: 80px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    font-size: 40px;
    
}
.notifications-text{
    margin-top: 30px;
}
/* FINDER */
.finder{
    padding-top:5px ;
    height: 50px;
    background-color: #fafafa;
    width:100%;
}
.finder-input{
    height: 40px;
    padding: 5px 5px;
    width:98%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    color: #bec1c3;
    line-height: 40px;
}
.finder i{
    margin-left: 20px;
    width:10%;
}
.finder input{
    border: hidden;
    width:70%;
}
/* USERS MESSAGES */
.users-messages ul{
    list-style: none;
}
.users-messages ul li{
    padding:5px;
}
.users-messages ul li img{
    height: 70px;
    border-radius: 50%;
    display: inline-block;
}
/* COLUMN RIGHT*/
.col-right{
    width:60%;
    background-image: url("../img/mine.jpg");

}
/* CONTATTO ATTIVO */
.active-contact{

}
/* CONTENITORE MESSAGGI */
.message-container{
    padding: 40px;
    /* test */
    height: calc(100% - 160px);
}
.message{
    position:relative;
    padding: 20px;
    border-radius: 15px;
    margin:20px 0px;
}
.time{
    position:absolute;
    bottom: 5px;
    right:5px;
    font-size: 10px;
    color:#bec1c3;
}
.sent{
    float:left;
    background-color: white;
}
.received{
    float:right;
    background-color: #d5f9ba;
}
/* CONTENITORE INPUT MESSAGGI  */
.message-sender{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* width */
    background-color: #f3eeea;
    align-items: center;
}
.message-sender i{
    font-size: 20px;
    color:#6b7477 ;
}
.message-sender input{
    width: 80%;
    height: 50px;
    border-radius: 20px;
    border:1px solid #f3eeea;
}